{
    "env": {
        "browser": true,
        "amd": true,
        "node": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:import/errors"
    ],
    "plugins": [
        "import"
    ],
    "rules": {
        "semi": ["error", "never"],
        "quotes": ["error", "double"],
        "indent": ["error", 4],
        "no-implicit-globals": 2,
        "no-restricted-globals": 2,
        "no-shadow": 2,
        "no-use-before-define": ["error", { "functions" : false }]
    }
}
